<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookingshow"
    android:versionCode="3"
    android:versionName="1.0.3" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:alwaysRetainTaskState="true"
        android:hardwareAccelerated="true"
        android:noHistory="false"
        android:screenOrientation="landscape" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"         
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:theme="@style/Theme.APP.No_Title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
         <activity
            android:name=".push.PushTicketActivity"
            android:label="@string/title_activity_push_ticket"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.APP.No_Title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".push.PushAppDetailActivity"
            android:label="@string/title_activity_push_app_detail"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.APP.No_Title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".push.PushAlbumDetailActivity"
            android:label="@string/title_activity_push_app_detail"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.APP.No_Title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".push.AppShareInfoActivity"
            android:label="@string/title_activity_push_app_detail"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.APP.No_Title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".push.AppShareImgActivity"
            android:label="@string/title_activity_push_app_detail"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.APP.No_Title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity> 
        
        <activity
            android:name=".userinfo.UserInfoActivity"
            android:label="@string/title_activity_push_app_detail"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.APP.No_Title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity> 

        <service
            android:name="com.cookingshow.service.DataService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.cookingshow.service.DataService" />
            </intent-filter>
        </service>

        <provider
            android:name="com.cookingshow.service.provider.DataProvider"
            android:authorities="com.cookingshow.service.provider"
            android:exported="true"
            android:readPermission="com.cookingshow.service.provider.READ_DATABASE"
            android:writePermission="com.cookingshow.service.provider.WRITE_DATABASE" >
        </provider>
        <meta-data android:value="5661849c67e58e8ce00045d2" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="tv_dangbei" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
